$link-color: #1B1B1E;
$header-border-color: #373F51;
$header-background-color: #f6f6f6;
$header-margin: 0.5%;
$header-padding: auto;
$header-font-family: 'Cormorant Garamond', serif;
$header-font-size: 30px;
$header-text-color: #0B0014;
$footer-font-family: 'Cormorant Garamond', serif;
$footer-font-size: 20px;
$footer-background-color: #373F51;
$instagram-color: #373F51;
$whatsapp-color: #106e09;
$text-font-family: 'Helvetica Neue';
$text-font-size: 18px;
$title-font-family: 'Cormorant Garamond', serif;
$title-font-size: 35px;
$ol-font: 'Helvetica Neue';
$ol-size: 18px;
$ol-type: circle;
$ol-margin: 20px;

$section-margin: 2px;
$section-bg: none;

